<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>BulkViz</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Work in progress</h1>-->
<!--    <form enctype = "multipart/form-data" action = "upload_script.py" method = "post">-->
<!--    <br> File Uploading <input type = "file" name = "filename" />-->
<!--    <p> <input type = "submit" value = "Upload Now" /> </p>-->
<!--    </form>-->
<!--    <script src="./templates/cards/script.js"></script>-->
<!--    <h2>List of cards:</h2>-->
<!--&lt;!&ndash;    <div onclick="showAlert()">{{ "a" }}</div>&ndash;&gt;-->
<!--    <div onclick="showAlert()">{{ "1" }}</div>-->
<!--    <script>-->
<!--        //var my_dict = JSON.parse("'{{ bulk|escapejs }}'");-->
<!--        //var context = JSON.parse({{ context }});-->
<!--        var dict = '{{bulk|escapejs}}';-->
<!--        console.log(dict);-->
<!--    </script>-->
<!--&lt;!&ndash;    <div onclick="showAlert()">{{ bulk }}</div>&ndash;&gt;-->
<!--<table>-->
<!--    {% for key, value in bulk.items %}-->
<!--    <tr onclick="showAlert('{{value.0}}')">-->
<!--        <td>-->
<!--            {{key}}-->
<!--        </td>-->
<!--        <td>-->
<!--            {{value|length}}-->
<!--            {{value.0.id}}-->
<!--        </td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--&lt;!&ndash;    <li> &ndash;&gt;-->
<!--&lt;!&ndash;        {% for value2 in value %}&ndash;&gt;-->
<!--&lt;!&ndash;            {{value2.id}}&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->


<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--<script>-->
<!--    function showAlert(value){-->
<!--        console.log('{{value.0}}');-->
<!--        //alert(value);-->
<!--    }-->
<!--</script>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->