<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BulkViz</title>
</head>
<body>
    <h1>BulkViz</h1>
    <form enctype = "multipart/form-data" action = "upload_script.py" method = "post">
    <br> File Uploading <input type = "file" name = "filename" />
    <p> <input type = "submit" value = "Upload Now" /> </p>
    </form>
    <h2>List of cards:</h2>
<!--    <div onclick="showAlert()">{{ "a" }}</div>-->
    <div onclick="showAlert()">{{ "1" }}</div>
    <div onclick="showAlert()">{{ "2" }}</div>
    <div onclick="showAlert()">{{ choices }}</div>

    <script>
       var card = fetch("/bulk").then(response=> { return response.json()}).then(bulk=> {
           console.log(bulk['CQUAD4'][0]['name'])
           console.log(bulk['CTRIA3'][0])
           console.log(bulk['PBAR'][0])
           console.log(bulk['MAT8'][0])
       })

       var test = "test"
       function showAlert(){
           alert(test);
       }
       choices = {'key1':'val1', 'key2':'val2'}
    </script>

<ul>
    {% for key, value in choices.items %}
    <li>{{key}} - {{value}}</li>
    {% endfor %}
</ul>
</body>
</html>